version: '3.3'
services:
  mango:
    ports:
      - '27017:27017'
    container_name: player_micro_service_mongo
    restart: on-failure
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongoadmin
      - MONGO_INITDB_ROOT_PASSWORD=password
    image: mongo
    volumes:
      - mongo-data:/data/db
    networks:
      - microservices-net  # Ajout du service dans le réseau

  eureka-server:
    build: ../eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - microservices-net  # Ajout du service dans le réseau

  player-service:
    build:
      context: ../player-service
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    environment:
      - DB_HOST=mango #  variable d'environnement pour une base de données
    depends_on:
      - mango
    networks:
      - microservices-net  # Ajout du service dans le réseau

  authentication-service:
    build:
      context: ../authentication-service
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    environment:
      - DB_HOST=mango
    depends_on:
      - mango
    networks:
      - microservices-net  # Ajout du service dans le réseau

  monster-service:
    build:
      context: ../monster-service
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    environment:
      - DB_HOST=mango
    depends_on:
      - mango
    networks:
      - microservices-net  # Ajout du service dans le réseau

  invocation-service:
    build:
      context: ../invocation-service
      dockerfile: Dockerfile
    ports:
      - "8084:8084"
    environment:
      - DB_HOST=mango
    depends_on:
      - mango
    networks:
      - microservices-net  # Ajout du service dans le réseau

  gatcha-frontend:
    build:
      context: ../gatcha-frontend
      dockerfile: Dockerfile
    container_name: gatcha-frontend
    ports:
      - "4200:4200"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - microservices-net  # Ajout du service dans le réseau

networks:
  microservices-net:
    driver: bridge  # Définition du réseau personnalisé avec le driver "bridge"

volumes:
  mongo-data:
    driver: local
