<div class="register-container">
    <div class="card register-card">
      <h2 class="text-center">S'enregistrer</h2>
      
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input 
            type="text" 
            id="username" 
            formControlName="username" 
            class="form-control"
            [class.is-invalid]="username?.invalid && (username?.dirty || username?.touched)"
          >
          <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="error-message">
            <div *ngIf="username?.errors?.['required']">Le username est requis</div>
            <div *ngIf="username?.errors?.['minlength']">Username doit comporter au moins 3 caractères</div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input 
            type="password" 
            id="password" 
            formControlName="password" 
            class="form-control"
            [class.is-invalid]="password?.invalid && (password?.dirty || password?.touched)"
          >
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">
            <div *ngIf="password?.errors?.['required']">Mot de passe requis</div>
            <div *ngIf="password?.errors?.['minlength']">Le mot de passe doit comporter au moins 6 caractères</div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="confirmPassword">Confirmer le mot de passe</label>
          <input 
            type="password" 
            id="confirmPassword" 
            formControlName="confirmPassword" 
            class="form-control"
            [class.is-invalid]="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched) || registerForm.errors?.['passwordMismatch']"
          >
          <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="error-message">
            <div *ngIf="confirmPassword?.errors?.['required']">La confirmation du mot de passe est requise</div>
          </div>
          <div *ngIf="registerForm.errors?.['passwordMismatch']" class="error-message">
            Les mots de passe ne correspondent pas
          </div>
        </div>
        
        <div *ngIf="errorMessage" class="error-message mb-3">
          {{ 'Erreur lors de l\'enregistrement, réessayez svp'  }}
        </div>
        
        <button type="submit" class="btn w-100" [disabled]="registerForm.invalid || isLoading">
          {{ isLoading ? 'Enregistrement en cours...' : 'S\'inscrire' }}
        </button>
      </form>
      
      <p class="text-center mt-3">
        Vous avez déjà un compte ? <a routerLink="/login">Se connecter</a>
      </p>
    </div>
  </div>